<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <title>Lista de E-mails Enviados</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.default.min.css">
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 8px 12px;
            border: 1px solid #ddd;
        }

        th {
            cursor: pointer;
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <nav>
        <a href="/">Enviar E-mail</a> |
        <a href="/emails">Ver E-mails Enviados</a>
    </nav>
    <h1>Lista de E-mails Enviados</h1>
    <table id="emailTable" class="tablesorter">
        <thead>
            <tr>
                <th>De</th>
                <th>Para</th>
                <th>Título</th> <!-- Nova coluna para o título -->
                <th>Conteúdo</th>
                <th>Data de Envio</th>
            </tr>
        </thead>
        <tbody>
            {% for email in emails %}
            <tr>
                <td>{{ email[0] }}</td>
                <td>{{ email[1] }}</td>
                <td>{{ email[4] }}</td> <!-- Exibir o título do e-mail -->
                <td>
                    <pre>{{ email[2] }}</pre>
                </td>
                <td>{{ email[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $("#emailTable").tablesorter();
        });
    </script>
</body>

</html>